#about {
    background: $second-background;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text-dashed {
        text-align: justify;
        background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%), linear-gradient(black 33%, rgba(255,255,255,0) 0%), linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%), linear-gradient(black 33%, rgba(255,255,255,0) 0%);
        background-position: top, right, bottom, left;
        background-repeat: repeat-x, repeat-y;
        background-size: 10px 1px, 1px 10px;
        padding: 60px;
        font-size: 1.5em;
        @include breakpoint('xs'){
            padding: 45px;
            font-size: 1.25em;
        }
    }
    p:first-child {
        margin-top: 0px;
    }
    p:last-child {
        margin-bottom: 0px;
    }
}