footer {
    position: absolute;
    bottom:0;
    right: 0;
    left: 0;
    height: 100px;
    background: black;
    color: white;
    text-align: center;
    font-size: 3em;
    border-bottom: 2px white solid;
}