footer {
    position: absolute;
    bottom:0;
    right: 0;
    left: 0;
    height: 48px;
    @include breakpoint('xs') {
        height: 32px;
    }
    background: rgba(0,0,0, 0.2);
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer__contactMe {
        padding-bottom: 4px;
        cursor: pointer;
        font-size: 2em;
        @include breakpoint('xs') {
            font-size: 1.3em;
        }
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.footer__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%) rotate(45deg);
    color: $main-color;
    width: 300px;
    height: 300px;
    @include breakpoint('xs') {
        width: 200px;
        height: 200px;
    }
    outline: none;
    background: #d3faff;
    animation: modal-footer-clip 1.5s ease-in-out;
    z-index: 1000;
    &--overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.7);
        z-index: 1000;
    }
}

.footer__modal__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    & > div {
        flex: 50%;
        text-align: center;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.2);
            box-shadow: 0px 0px 10px 12px rgba(0,0,0,0.75);
        }
        & > a {
            line-height: 150px;
            @include breakpoint('xs') {
                line-height: 100px;
                font-size: 32px;
            }
            margin: 0;
            font-size: 48px;
            cursor: pointer;
            color: $second-color;
            transition: color .2s ease-in-out;
            svg {
                transform: rotate(-45deg);
            }
            &:hover {
                color: $main-color;
            }
        }
    }
}

.footer__modal__info--email {
    position: relative;
    .footer__modal__close {
        position: absolute;
        top: 0;
        left:0;
        background:black;
        width:20px;
        height: 20px;
        font-size: 20px;
        z-index: 9999;
        cursor: pointer;
        svg {
            vertical-align: 0em;
            transition: transform .3s ease-in-out;
            transform: rotate(-45deg);
            &:hover {
                transform: rotate(315deg);
            }
        }
    }
}

.footer__modal__info--email, .footer__modal__info--linkedin {
    background-image: linear-gradient(to right, #d3faff , #9bf3ff);
}

.footer__modal__info--github, .footer__modal__info--phone {
    background-image: linear-gradient(to right,#9bf3ff, #d3faff);
}

.footer__modal__info--phone {
    &--number {
        white-space: nowrap;
    }
}


.rotateTooltip {
    position: absolute !important;
    left: 50% !important;
    top: 100% !important;
    transform: translate(0%, -50%) rotate(-45deg) !important;
    margin: 0 !important;
    background: black!important;
   }

.__react_component_tooltip.type-dark.place-top:after {
    border-top-color: none;
    border-top-style: none;
    border-top-width: none;
}

.__react_component_tooltip {
    @include breakpoint('xs') {
        font-size: 11px;
    }
}


@keyframes modal-footer-clip {
    0% {
        clip-path: circle(1px at 50% 50%);
        opacity: 0;
    }

    100% {
        clip-path: circle(100% at 50% 50%);
        opacity: 1;
    }
}