.languages {
    position: fixed;
    top: 5vh;
    left: 2.5vw;
    width: 30px;
    height: 30px;

    .languages__flag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $main-color;
        opacity: 0;
        z-index: -10;
        cursor: pointer;
        transition: opacity 1s, z-index 0.3s, transform 1s;
        transform: translateX(0);

        .languages__flag__icon {
            width: 100%;
            height: 100%;
            padding: 5px;
            transition: color 0.3s;
        }

        &.trigger {
            opacity: 1;
            z-index: 100;
            cursor: pointer;
        }
    }

    .languages__rotater {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-50%) translateY(-50%);
    }

    &.active {

        .languages__flag--show {
            opacity: 1;
            z-index: 50;
        }
    }
}

$numOfElems: 3;
$languagePosition: 14px;

@for $i from 1 through $numOfElems {
    $deg: 120deg / $numOfElems;

    .languages__rotater:nth-child(#{$i}) {
        transform: rotate(($deg+30) + $deg * ($i - 1));
    }

    .languages.active {
        .languages__rotater:nth-child(#{$i}) .languages__flag {
            transform: translateX($languagePosition + ($i * 6)) translateY(-3.5em) rotate(($deg+250) - $deg * ($i - 1));
        }
    }
}