$navWidth: 100vw;
$hamburgerSize: 60px;


.nav {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: $navWidth;
  height: 100%;
  background: #fff;
  clip-path: circle(29px at calc(#{$navWidth} - 5vw - #{$hamburgerSize / 2}) calc(5vh + #{$hamburgerSize / 2}));
  transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 999;
  &.active {
    clip-path: circle(75% at #{$navWidth / 2} 50vh);
  }
  
  &__link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    text-transform: lowercase;
    letter-spacing: -1px;
    text-align: center;
    padding: 1vh 0;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0;
    transform: translateY(50%);
    
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.08s;
      }
    }
    
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    &:hover {
      animation: bounce .8s;
    }
  }
}

.hamburger {
  $p: &;
  width: $hamburgerSize;
  height: $hamburgerSize;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  top: 5vh;
  right: 5vw;
  background: #fff;
  z-index: 1000;
  
  &__patty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 50%;
    background: #000;
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    
    &:nth-child(1) {
      transform: translate(-50%, calc(-50% - 8px));
    }
    
    &:last-child {
      transform: translate(-50%, calc(-50% + 8px));
    }
  }
  
  &.active {
    
    #{$p}__patty {
      background: #000;
      
      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      
      &:nth-child(2) {
        opacity: 0;
      }
      
      &:nth-child(3) {
         transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}



@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

