.portfolio__box {
    overflow: auto;
    background: lighten($third-background, 3%);

    &::-webkit-scrollbar-track {
        background: $main-background;
        border: 4px solid transparent;
        background-clip: content-box;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color:$second-color;

    }

    .portfolio__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

.portfolio__filter {
    width: 100%;
    z-index: 1;
    .portfolio__filter__list {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .portfolio__filter__list__element {
            margin: 10px;
            cursor: pointer;
            text-decoration: none;
            position: relative;
            min-width: 60px;
            text-align: center;
            &:hover {
                 &::before {
                    content: "";
                    position:absolute;
                    top: 0px;
                    left: 0;
                    border-style: solid;
                    border-width: 30px 30px 0 30px;
                    border-color: $main-color transparent transparent transparent;
                    z-index: -1;
                }
            }
            &--active {
                &::before {
                    content: "";
                    position:absolute;
                    top: 0px;
                    left: 0;
                    border-style: solid;
                    border-width: 30px 30px 0 30px;
                    border-color: $main-color transparent transparent transparent;
                    z-index: -1;
                }
            }
        }
    }
}