.portfolio__box {
    overflow: auto;

    &::-webkit-scrollbar-track {
        background: $main-background;
        border: 4px solid transparent;
        background-clip: content-box;   /* THIS IS IMPORTANT */
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color:$second-color;

    }

    .portfolio__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}