#technology {
    background: $second-background;
}

.technology {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.technology__icons {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
    img {
        max-height: 80px;
        width: auto;
    }
}