#technology {
    background: $second-background;
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--hideScrollbar {
        overflow: hidden;
    }
}


.technology__icons {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.5) rotate(10deg);
    }
    img {
        max-height: 80px;
        width: auto;
    }
}