@import './style/variables.scss';
@import './style/vendors/normalize.scss';
@import './style/breakpoints.scss';


* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @include breakpoint('xs') {
    overflow: auto;
  }
  @include breakpoint('sm') {
    overflow: auto;
  }
  @include breakpoint('md') {
    overflow: auto;
  }
  scroll-behavior: smooth;
  font-family: 'eurostile', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-fluid {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

section {
  padding: 60px 0;
}


.component {
  height: 100%;
  width: 100%;
  display: flex;

  h1, h2 {
    font-size: 3em;
    position: relative;
    margin-top: 0px;
    margin-bottom: 100px;
    @include breakpoint('xs') {
      font-size: 2em;
      margin-bottom: 60px;
    }

    &::after {
      content: "";
      position:absolute;
      top: -20px;
      left: 0;
      border-style: solid;
      border-width: 150px 150px 0 150px;
      border-color: rgba(0, 0, 0, 0.1) transparent transparent transparent;
      @include breakpoint('xs') {
        border-width: 100px 100px 0 100px;
      }
    }
  }
}


/*Components*/
@import './style/components/Navigation.scss';
@import './style/components/Hero.scss';
@import './style/components/About.scss';
@import './style/components/Portfolio.scss';
@import './style/components/Technology.scss';
@import './style/components/Footer.scss';
@import './style/components/Language.scss';
@import './style/components/PortfolioBox.scss';
@import './style/components/PortfolioCards.scss';

